.blue {
    color: #337AB7;
}

.green {
    color: #5CB85C;
}

.orange {
    color: #F0AD4E;
}

.red {
    color: #D9534F;
}

.white {
    color: #FFFFFF;
}

.bolded {
    font-weight: bold;
}

.negative-rating {
    color: #bcbcbc;
}
